* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    background-color: blueviolet;
}

div {
    text-align: center;
    background-color: aqua;
    width: 50%;
    float: left;
    height: 100px;
}

footer {
    text-align: center;
    background-color: grey;
    width: 100%;
    bottom: 0;
}