* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    /*background-color: red;*/
    margin: auto;
    width: 80%;
    margin-top: 50px;
    height: 25px;
    font-size: 20px;
}

.navigation li {
    float: left;
    margin-left: 10px;
}

.navigation a {
    color: grey;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
}

.main {
    /*background-color: aqua;*/
    clear: both;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .name {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .navigation {
        font-size: 15px;
        width: 100%;
    }
}